*{
    margin: 2px;
    padding: 2px;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
body{
    background-image: url(random.jpg);   
    background-size: cover;
}
.topnav{
    overflow: hidden;
    background-image:linear-gradient(rgb(154, 247, 154), yellow);
    background-size: cover;
    margin-bottom: 5px;
}
.topnav a{
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change color on hover */
.topnav a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.search{
    margin-top: 8px;
    margin-right: 5px;
    padding: 5px;
    float: right;
}
.bien{
    color:white;
    border: 2px dotted green;
    background-color: rgb(173, 173, 173);
    width: 40%;
}
=======
>>>>>>> 5032a19d3c57f2eeb46cff0c21a164973e4f88bb
#footer{
    text-align: right;
}
#footer p:nth-child(2){
    color: crimson;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 2px 2px 3px gold;
    font-family: Arial, Helvetica, sans-serif;
    border: dashed 2px black;
}
#footer span{
    font-weight: bold;
    background-color: pink;
<<<<<<< HEAD
}
=======
}
>>>>>>> c04c17a2e54f3c7c8e692d8bad828a03c2596855
>>>>>>> 5032a19d3c57f2eeb46cff0c21a164973e4f88bb
